@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

.NavBarContainer {
    display: flex;
    align-items: center;
    padding-top: 5%;
    flex-direction: column-reverse;
    justify-content: flex-end;
    height: 215vh;
    width: 30vh;
    background-color: rgb(218, 4, 4);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    box-shadow: 0px 5px 5px grey;
    font-weight: bold;
    margin-bottom: none;
}


.NavBarContainer img {
    height: 60px;
    width: 100px;
}

.NavBarContainer a {
    color: rgb(253, 253, 252);
}

.NavBarContainer a:link {
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    padding: 1em;
}

